:host {
  color: white;
  background-color: #333;
  font-family: sans-serif;
}

button.login {
  position: fixed;
  top: calc(50vh - 24px);
  font-size: 20pt;
  left: calc(50vw - 100px);
  padding-left: 12px;
  padding-right: 12px;
}

img {
  float: right;
}

@media (max-width: 600px) {
  img {
    display: none;
  }
}

li strong {
  cursor: pointer;
}

small {
  position: fixed;
  bottom: 16px;
  left: 16px;
}